/* Cleaners */
.clean-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clean-link {
  text-decoration: none;
}

.clean-button {
  border: none;
}

.clean-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* Standard Styling */
.link {
  color: #3e76b2;
  text-decoration: none;
}

.link:hover {
  color: #007bff;
}

.item-block {
  padding: 1rem;
  border-radius: 3px;
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.08) 0px 2px 4px;
  background-color: lightblue;
}

.button-block-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 0;
  /* calc should be desired padding - (global font size - icon font size) */
  padding-top: calc(1rem - 6px);
  padding-bottom: calc(1rem - 6px);
}
